.title {
    color: #dfdede;
    font-size: 2.8em;
    font-family: Play;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.projet1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.images {
    width: 480px;
    margin-bottom: 15px;
}
.text {
    color: #dfdede;
    font-size: 1.4em;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerProjet1 {
    margin-bottom: 150px;
}
.blockImages {
    width: 45%;
}
.containerProjet1 {
    margin-bottom: 150px;
}
.boxText {
    width: 45%;
}

@media screen and (max-width: 430px) {
    .text {
        font-size: 1.4em;
        width: 85vw;
        color: #dfdede;
    }
    .images {
        width: 100%;
        margin-bottom: 15px;
    }
    .blockImages {
        width: 100%;
    }
   
    .back {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;
        left: 45%;
    }
}