.title {
    color: #dfdede;
    font-size: 2.8em;
    font-family: Play;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.projet1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.images {
    width: 450px;
}
.text {
    color: #dfdede;
}