.box {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-top: 40vh;
    transform: translateY(-50%);
}
.title {
    font-size: 2.8rem;
    text-align: center;
    font-family: play;
    color:#dfdede;
}
.subtitle {
    color: #a5a5a5;
    font-size: 2.5rem;
    text-align: center;
    line-height: 0.5
}
.subtitle2 {
    color: #a5a5a5;
    font-size: 2.5rem;
    text-align: center;
}
@media screen and (max-width: 430px) {
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.8rem;
    }
    .subtitle2 {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 390px) {
    .title {
        font-size: 1.8rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .subtitle2 {
        font-size: 1.5rem;
    }
}

.logow {
    width: 8%;
    position: absolute;
    top: 25%;
    left: 20%;
    animation: logo-w infinite 16s linear;
}
.logoSass {
    width: 8%;
    position: absolute;
    top: 45%;
    left: 80%;
    animation: logo-sass infinite 12s linear;
}
.logoBootstrap {
    width: 8%;
    position: absolute;
    top: 110%;
    left: 45%;
    animation: logo-bootstrap infinite 14s linear;
}
.logoReact {
    width: 8%;
    animation: logo-fade-in-out-react infinite 10s linear;
   
}
.logoVue {
    width: 8%;

    position: absolute;
    left: 60%;
    top: 10%;
    animation: logo-scale-vue infinite 23s linear;
}
.logoSf {
    width: 8%;
    position: absolute;
    left: 90%;
    top: 98%;
    animation: logo-sf infinite 18s linear;

}
@keyframes logo-fade-in-out-react {
    0% {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@keyframes logo-scale-vue {
    0% {
        transform: scale(0.5);
      }
    50% {
        transform: scale(1);
      }
    0% {
        transform: scale(0.5);
    }
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes logo-sf {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      60% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}
@keyframes logo-w {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      60% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
@keyframes logo-sass {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      60% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
@keyframes logo-bootstrap {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      60% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}