.title {
    color: #dfdede;
    font-size: 2.8rem;
    text-align: center;
    font-family: play;
    margin-top: 10vh;
    margin-bottom: 7vh;
}
.text {
    color: #a5a5a5;
    font-size: 1.5rem;
    text-align: left;
}
.formButton {
    background-color: #dfdede;
    border-color: #dfdede;
    width: 14rem;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0;
  }
  .formButton:hover {
    background-color: #12606a;
    border-color: #12606a;
  }
  .navLink {
    color: #0d0a28;
    text-decoration: none;
  }
  .navLink:hover {
    color: #0d0a28;
    text-decoration: none;
  }