.aboutMe {
  margin-bottom: 150px;
}
.title {
    color: #dfdede;
    font-size: 2.8rem;
    text-align: center;
    font-family: play;
    margin-top: 10vh;
    margin-bottom: 7vh;
}
.titleH {
  color: #dfdede;
  font-size: 2.8rem;
  text-align: center;
  font-family: play;
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.text {
    color: #a5a5a5;
    font-size: 1.5rem;
    text-align: left;
}
.formButton {
    background-color: #dfdede;
    border-color: #dfdede;
    width: 14rem;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0;
    transition: all 0.3s ease-in-out;
    margin-top: 25px;
  }
  .formButton:hover {
    background-color: #12606a;
    border-color: #12606a;
    transform: scale(1.04); 
  }
  .formButtonDown {
    background-color: #dfdede;
    border-color: #dfdede;
    width: 14rem;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0;
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
  }
  .formButtonDown:hover {
    background-color: #12606a;
    border-color: #12606a;
    transform: scale(1.04);
  }
  .navLink {
    color: #0d0a28;
    text-decoration: none;
    padding: 0;
  }
  .navLink:hover {
    color: #0d0a28;
    text-decoration: none;
  }
  .logoHorizon {
    text-align: center;
    margin-bottom: 50px;
  }.logoH1 {
    margin-top: 15px;
  }
  .logoH2 {
    margin-bottom: 15px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .logoH3 {
    margin-top:15px;
  }

  /* Media for Phone */

@media screen and (max-width: 430px) {
  .formButton {
    transition: all 0.1s ease-in-out;
  }
  .formButton:hover {
    background-color: #dfdede;
    border-color: #dfdede;
    transform: scale(0.9); 
  }
  .formButton:active {
    background-color: #dfdede;
    border-color: #dfdede;
    transform: scale(0.9); 
  }
  .formButtonDown {
    transition: all 0.1s ease-in-out;
  }
  .formButtonDown:hover {
    background-color: #dfdede;
    border-color: #dfdede;
    transform: scale(0.9); 
  }
  .formButton:active {
    background-color: #dfdede;
    border-color: #dfdede;
    transform: scale(0.9); 
  }
}