.title {
    color: #dfdede;
    font-size: 2.8rem;
    text-align: center;
    font-family: play;
    margin-top: 10vh;
    margin-bottom: 7vh;
}
.text {
    color: #a5a5a5;
    font-size: 1.5rem;
    text-align: left;
}
.formButton {
    background-color: #a5a5a5;
    border-color: #a5a5a5;
    width: 13rem;
    font-size: 1.4rem;
    color: #0d0a28;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0;
  }
  .formButton:hover {
    background-color: #12606a;
    border-color: #12606a;
  }