/* ------------------------ Font ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* ---------------------- End font ---------------------- */

/* ------------------- Css transition ------------------- */
.container {
  position: relative;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* ----------------------- End css transition ----------------------- */

/* ------------------------ Champ formulaire ------------------------ */


.form-control {
  background-color: #dfdede;
  outline: 5px solid #dfdede !important;
}

.form-control:focus {
  background-color: #dfdede;
  outline: 5px solid #dfdede !important;
  border: 0px solid #dfdede !important;
}

/* ------------------------ End champ formulaire ------------------------ */


/* ------------------------------- Navbar ------------------------------- */

.navBarBg {
  background-color: #0d0a28;
}
.language {
  margin-top: 5px;
  background-color: #0d0a28;
  border: none;
}
.boxLanguage {
  border: 1px solid white;
  margin-left: 25px;
}

/* ----------------------------- End Navbar ----------------------------- */



/* ------------------------- Logo principal ------------------------- */


.logo-ced{
  width: 80px;
}

/* ----------------------- End logo principal ----------------------- */


/* media for ipad */



/* Media for Phone */
@media screen and (max-width: 430px) {
  .boxLanguage {
    margin-left: -5px;
    border: none;
  }
  .language {
    background-color: #0d0a28;
  }
  .page {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}