.formCustom {
  background-color: #dfdede;
  padding: 30px 30px 15px 30px;
  border-radius: 20px;
  margin-top: 20vh;
  transform: translateY(-50%);
}
.formButton {
  background-color: #0d0a28;
  border-color: #0d0a28;
  width: 13rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0
}
.formButton:hover {
  background-color: #12606a;
  border-color: #12606a;
}
.formH2 {
  color: #0d0a28;
  font-size: 30px;
  margin-bottom: 20px;
}
.sendValid {
  margin-top: 1rem;
  color: #12606a;
  font-weight: bold;
}
.sendInvalid {
  color: #ff0000;
  font-weight: bold;
}
.sendInvalidInput {
  color: #ff0000;
  font-weight: bold;
}
.emailIcon {
  width: 3rem;
  margin-bottom: 10px;
}
.emailBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #dfdede;
  font-size: 2.5rem;
  margin-bottom: 300px;
  font-family: Play;
  text-align: center;
  margin-top: 10vh;
}
@media screen and (max-width: 430px) {
  .formButton {
    width: 18rem;
  }
}
/* screen retina large */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  .formCustom{
    margin-top: 50vh;
  }

}